@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');


@font-face {
  font-family: "shakespeare";
  src: url("shakespeare.ttf");
  font-family: "notMyType";
  src: url("notMyType.otf");
}


html, body {
  height: 100%;
}

body {
  padding: 4.5rem;
  margin: 0;
  background-color: #eae6f0;
  background-image: url("../../img/backgroundCollageIMG.jpeg");
  background-size: tile;
  background-position: center;
  position: relative;
}


#icons {
  background: none;
  border: none;
}

#sidebar {
  position: absolute;
  width: 19rem;
  height: 100%;
  left: -290px;
  transition: .4s;
  z-index: 1;
  border-radius: 10px;
  top: 0px;
  background: #edc0bf;
  background: url("../../img/burntPaper.png");
  background-size: cover;
  background-position: right;
} 
    
#sidebar.active {
  left: 0;
  height: 100%;
}
  
#sidebar ul li a {
  text-decoration: none;
  font-size: 39px;
  color: black;
  font-family: 'notMyType';
}
  
#sidebar ul li{
  list-style: none;
  font-size: 40px;
  padding: 2px 2px;
}

  
#sidebar .toggle-btn {
  position: absolute;
  left: 295px;
  top: 10px;
}
  
.toggle-btn span {
  width: 55px;
  height: 7px;
  background: whitesmoke;
  display: block;
  margin-top: 4px;
}

div.container-sm {
  border-radius: 10px;
  width: 340px;
  height: auto;
  margin: 0px auto;
  text-align: center;
  background-image: url("../../img/streak3.png");
  background-size: cover;
  background-position: center;
  position: relative;
  backdrop-filter: blur(10px);
}

.container-sm h1 {
  font-size: 51px;
  font-family: 'notMyType';
}




div.container-lg {
    border-radius: 10px;
    width: 600px;
    height: auto;
    margin: 0px auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    backdrop-filter: 10px;
    background-color: rgba(0, 0, 0, 0.884);
}

div.container-lg li{
  color: white;
  font-size: 45px;
  margin-left: 15px;
}

input.bandsInTown {
  border-radius: 5px;
  width: 40px;
  font-size: 23px;
  padding: 5px;
  padding-top: 15px;
  display: inline;
  margin: 0px auto;
}


@media screen and (max-width: 729px) {
  div.container-sm {
    margin: 0px auto;
    width: auto;
  }
  
  div.container-fluid {
  border-radius: 10px;
  width: 405px;
  margin: 0px auto;
  margin-left: -69px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  backdrop-filter: 10px;
  background-color: rgba(0, 0, 0, 0.884);
}

input.bandsInTown {
  font-size: 22px;
  }
}


