* {
    margin: 0;
    padding: 0;
}
  
html {
    min-width: 100%;
    min-height: 100%;
}
  
body {
    padding: 4.5rem;
    margin: 0;
    height: 1000px;
    font-family: Source Sans Pro;
    background-image: linear-gradient(rgba(12, 112, 226, 0.993), rgba(65, 219, 34, 0.849));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.example-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}



.example-content-main img {
    height: 45vh;
    width: 50vh;
    border: 2px solid black;
}
  
div.example-row.clear-top.container .example-content-secondary ul li{
    color: black;
}
  
#wrap {
    min-height: 30%;
}
  
.example-content-secondary {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    height: 200px;
    width: 220px;
    z-index: 1;
}
  
.example-content-secondary h2{
    color: rgb(0, 255, 13);
    text-align: center;
    font-size: 31px;
}
  


.example-content-secondary ul {
    margin-left: 40px;
}

.example-content-secondary ul li {
    font-weight: 400;
    color: rgb(0, 1, 2);
}

img.d-block.w-100 {
    height: 95vh;
    width: 10vh;
}